.container{
    width: 100vw;
    height: 50%;
    color:black;
    overflow: auto;
}
.headerContainer{
    display: flex;
    transform: translateY(20px);
    justify-content: center;
    font-weight: 300;
}