/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/component/organisms/header/styles.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_container__FDe4c {
  width: 100%;
  height: 15%;
  display: flex;
  margin-bottom: 1px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

.styles_loginBox__R0yOU {
  position: relative;
  font-size: 15px;
  margin-right: 20px;
  font-weight: 300;
  color: grey;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.styles_loginBox__R0yOU span {
  font-weight: 400;
}

.styles_userBox__IKDFp {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 200px;
  height: 150px;
  margin-right: 20px;
  font-weight: 300;
  color: grey;
  top: 76px;
  right: 0;
  background-color: white;
  z-index: 100;
  border-radius: 0px;
  border-color: lightgrey;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.styles_userBox__IKDFp span {
  font-weight: 400;
}

.styles_text__GX0Y5 {
  font-size: 23px;
  font-weight: 500;
  margin: 30px;
  color: black;
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/component/molcules/addDocument/styles.module.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_container__eYEx0 {
  width: 100%;
  height: 35vh;
  background-color: rgb(240, 240, 240);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.styles_text__aczHY {
  transform: translate(10%, 20px);
  font-size: 20px;
  color: black;
  font-weight: 300;
}

.styles_imageContainer__L2hkC {
  display: flex;
  align-items: center;
  justify-content: center;
}

.styles_imageBox__T_Lp2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  width: 180px;
  margin: 30px;
  padding: 10px;
}
.styles_imageBox__T_Lp2:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.styles_startButton__04zFj {
  margin-top: 20px;
  color: #1C1C1C;
  font-weight: 300;
  font-size: 15px;
}
.styles_startButton__04zFj span {
  color: #0017DF;
  font-weight: 500;
  font-size: 17px;
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[13].use[5]!./src/component/organisms/documentLIst/Table.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
table,
th,
td {
  border: 1px solid #f4f4f4;
  border-collapse: collapse;
  width: 90vw;
  font-size: 13px;
  text-align: center;
}

th {
  background-color: #fafafa;
  padding: 20px;
}

td {
  background-color: white;
  padding: 16px 0;
}

.horizontal-tr {
  display: block;
  float: left;
}

.horizontal-th,
.horizontal-td {
  display: block;
}

.subtable {
  margin: 0 10px;
}

.subrow {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  margin: 10px 0;
}

.subrow-sm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 10px 0;
}

.subtitle {
  font-weight: 700;
  text-align: left;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/component/organisms/documentLIst/styles.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.styles_container__LpVJr {
  width: 100vw;
  height: 50%;
  color: black;
  overflow: auto;
  justify-content: center;
  display: flex;
  padding: 20px;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[9].use[5]!./src/app/page.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_container__LLik5 {
  background-color: white;
  width: 100vw;
  height: 100vh;
}
